/* Simple selector format: 
	XHTMLtag { style-rules } 
*/
body  { font-family: calibri, helvetica, sans-serif }
h1	   { font-size: 250%; }
ul, li   { margin-left: 2% } /* Applies to both tags */
li em  { font-weight: bold } /* Applies to <em> tag insdide <li> */
h1:hover { color: blue; }
h2:hover { color: green; }
h3:hover { color: yellow; }
h4:hover { color: red; }

